@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.SideMenuContainer {
  height: 100%;
  width: 50px;
}

.middleSection {
  height: 100%;
  width: 75%;
  background-color: #e7f6fe;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.rightSection {
  height: 100%;
  width: 25%;
}